*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vw;
    display:flex;
    flex-direction: column;
}
.linha1{
    background-color: rgb(182, 154, 232);
    height: 20vh;
    display: flex;
    justify-content: right;
}
.bola1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(137, 43, 226, 0.454);
    margin-top: 11.9vh;
}
.linha2{
    background-color: rgb(165, 239, 178);
    height: 20vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.bola2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(37, 227, 37, 0.516);
}
.linha3{
    background-color: rgb(239, 165, 165);
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bola3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(226, 55, 43, 0.454);
}
.linha4{
    background-color: rgb(239, 236, 165);
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.bola4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(226, 205, 43, 0.454); 

}
.linha5{
    background-color: rgb(171, 165, 239);
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10%;
}
.bola5{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(43, 67, 226, 0.454); 

}